<!-- <% "form_for is the helper to define a form" %>
form_for object do
    columns_names
end
 -->

<% if @user.errors.any? %>
  <% @user.errors.each do | key, message |%>
    <%= key.to_s + " " + message.to_s %>
  <%end%>
<%end%>
<%= form_for @user do | f |%>
<table class="table table-striped">
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name%></td>
  </tr>
  <tr>
    <td><%= f.label :email%></td>
    <td><%= f.email_field :email%></td>
  </tr>
  <tr>
    <td><%= f.label :password%></td>
    <td><%= f.password_field :password%></td>
  </tr>
  <tr>
    <td><%= f.label :confirm_password%></td>
    <td><%= f.password_field :confirm_password%></td>
  </tr>
  <tr>
    <td><%= f.label :mobile_no%></td>
    <td><%= f.text_field :mobile_no%></td>
  </tr>
  <tr>
    <%= f.fields_for :image do | im |%>
     <td><%= im.label :photo%></td>
     <td><%= im.file_field :photo %></td>
    <%end%>
  </tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>
</table>
<%end%>



<%= link_to "Sign In" , login_page_users_path%>
